* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: rgb(30, 30, 30);
}

header {
    height: 100px;
}

main {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.urna {
    background-color: rgb(220, 220, 220);
    max-width: 800px;
    width: 100%;
    margin: 5px;
    height: 430px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.urna__tela {
    background-color: rgb(200, 200, 200);
    height: 85%;
    width: 60%;
    border: 3px solid darkgray;
    margin: 0 30px;
}

.tela__candidato {
    padding: 10px;
    font-size: 12px;
}

.tela__cargo {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

.tela__digitos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tela__digito {
    border: 2px solid black;
    margin: 3px;
    width: 35px;
    height: 40px;
    font-size: 26px;
    text-align: center;
}

.tela__candidato {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.piscando {
    animation: piscando 1.2s;
    animation-iteration-count: infinite;
}

.descricao {
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.candidato p {
    font-size: 16px;
}

.descricao img {
    width: 80px;
}

@keyframes piscando{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.urna__lado {
    width: 40%;
    padding: 20px 10px;
}

.urna__titulo {
    background-color: darkgray;
    color: rgb(60, 60, 60);
    padding: 20px 40px;
    font-size: 14px;
    text-align: center;
}

.urna__numeros {
    background-color: rgb(60, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.numero {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 1px 0px rgba(20,20,20,1);
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.urna__teclas {
    background-color: rgb(60, 60, 60);
}

.urna__teclas {
    display: flex;
    justify-content: center;
}

.urna__teclas div {
    height: 30px;
    width: 70px;
    margin: 12px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecla--branco {
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    box-shadow: 0px 5px 1px 0px rgba(220,220,220,1);
}

.tecla--vermelho {
    background-color: red;
    border-radius: 4px;
    justify-content: center;
    box-shadow: 0px 5px 1px 0px rgba(225,0,0,1);
}

.urna__teclas .tecla--verde {
    background-color: rgba(0,255,0,1);
    border-radius: 4px;
    justify-content: center;
    box-shadow: 0px 5px 1px 0px rgba(0,225,0,1);
}

.urna__teclas div a {
    color: black;
    text-decoration: none;
}


@media screen and (max-width:650px) {
    .urna{
        flex-wrap: wrap;
        height: 1000px;
    }
    .urna__tela {
        height: 50%;
        width: 90%;
        margin: 20px 30px;
    }
    .urna__lado {
        width: 80%;
    }

    .urna__numeros {
        padding: 20px 150px;
    }
}



