.candidato1{
    background-color: royalblue;
    height: 10px;
    width: 250px;
}

.candidato2 {
    background-color: royalblue;
    height: 10px; 
    width: 316px;
}

.candidato3{
    background-color: royalblue;
    height: 10px;
    width: 409px;
}
.candidato4{
background-color: royalblue;
height: 10px;
width: 622px;
}


.fonte1{
    font-family: fantasy
}